@page "/SignUp"
@inherits ClientBase

<div>
  <div>
    <div>
      <h2>Sign Up to Queen</h2>
    </div>
    <div>
      <form>
        <div>
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName" required @bind="@Client.FullName" @bind:event="oninput">
        </div>
        <div>
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" id="gender" required @bind="@Client.Gender" @bind:event="oninput">
            <option selected disabled value="@Gender.NotSpecified">NotSpecified</option>
            <option value="@Gender.Male">Male</option>
            <option value="@Gender.Female">Female</option>
          </select>
        </div>
        <div>
          <label for="birthday" class="form-label">Birthday</label>
          <input type="date" class="form-control is-invalid" id="birthday" required @bind="@Client.DateOfBirth" @bind:event="oninput">
          <div class="invalid-feedback">Please indicate date of birth.</div>
        </div>
        <div>
          <label for="mobileNumber" class="form-label">Mobile Number</label>
          <input type="text" class="form-control is-invalid" id="mobileNumber" required @bind="@Client.MobileNo" @bind:event="oninput">
          <div class="invalid-feedback">Please provide your mobile number.</div>
        </div>
        <div>
          <label for="emailAd" class="form-label">Email</label>
          <input type="text" class="form-control is-invalid" id="emailAd" required @bind="@Client.Email" @bind:event="oninput">
          <div class="valid-feedback">Email is available</div>
          <div class="invalid-feedback">Email already taken.</div>
        </div>
        <div>
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" required @bind="@Client.Password" @bind:event="oninput">
        </div>
      </form>
    </div>
  </div>
</div>
