@page "/SignUp"
@inherits SignUpPageBase

<div class="center-contents">
  <div class="border border-4 border-dark rounded-3 shadow w-50 p-5 h-100 mx-auto">
    <div>
      <h2>Sign Up to Queen</h2>
      <small>Strategize and Conquer.</small>
    </div>
    <div class="my-4 mx-auto">
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" id="fullName" placeholder="Full Name" required @bind="@Client.FullName" @bind:event="oninput">
        </div>
        <div class="mb-3">
          <select class="form-control" id="gender" placeholder="Gender" required @bind="@Client.Gender" @bind:event="oninput">
            <option selected disabled value="@Gender.NotSpecified">Gender</option>
            <option value="@Gender.Male">Male</option>
            <option value="@Gender.Female">Female</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="date" class="form-control" placeholder="Date Of Birth" id="birthday" required @bind="@Client.DateOfBirth" @bind:event="oninput">
          <div class="invalid-feedback">Please indicate date of birth.</div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Mobile No." id="mobileNumber" required @bind="@Client.MobileNo" @bind:event="oninput">
          <div class="invalid-feedback">Please provide your mobile number.</div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Email" id="emailAd" required @bind="@Client.Email" @bind:event="oninput">
          <div class="valid-feedback">Email is available</div>
          <div class="invalid-feedback">Email already taken.</div>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" id="password" required @bind="@Client.Password" @bind:event="oninput">
        </div>
      </form>
      <div class="d-grid mx-auto w-50 mt-4">
        <button class="btn btn-primary" @onclick="UserDetails">Submit</button>
      </div>
    </div>
  </div>
</div>


